

<h4>Related Posts:</h4>

<div class="related-posts row posts-md col-mb-30">

    <div class="entry col-12 col-md-6">
        <div class="grid-inner row align-items-center gutter-20">
            <div class="col-4 col-xl-5">
                <div class="entry-image">
                    <a href="#"><img src="images/blog/small/10.jpg" alt="Blog Single"></a>
                </div>
            </div>
            <div class="col-8 col-xl-7">
                <div class="entry-title title-xs nott">
                    <h3><a href="#">This is an Image Post</a></h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li><i class="icon-calendar3"></i> 10th July 2021</li>
                        <li><a href="#"><i class="icon-comments"></i> 12</a></li>
                    </ul>
                </div>
                <div class="entry-content d-none d-xl-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
            </div>
        </div>
    </div>

    <div class="entry col-12 col-md-6">
        <div class="grid-inner row align-items-center gutter-20">
            <div class="col-4 col-xl-5">
                <div class="entry-image">
                    <a href="#"><img src="images/blog/small/20.jpg" alt="Blog Single"></a>
                </div>
            </div>
            <div class="col-8 col-xl-7">
                <div class="entry-title title-xs nott">
                    <h3><a href="#">This is a Video Post</a></h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li><i class="icon-calendar3"></i> 24th July 2021</li>
                        <li><a href="#"><i class="icon-comments"></i> 16</a></li>
                    </ul>
                </div>
                <div class="entry-content d-none d-xl-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
            </div>
        </div>
    </div>

    <div class="entry col-12 col-md-6">
        <div class="grid-inner row align-items-center gutter-20">
            <div class="col-4 col-xl-5">
                <div class="entry-image">
                    <a href="#"><img src="images/blog/small/21.jpg" alt="Blog Single"></a>
                </div>
            </div>
            <div class="col-8 col-xl-7">
                <div class="entry-title title-xs nott">
                    <h3><a href="#">This is a Gallery Post</a></h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li><i class="icon-calendar3"></i> 8th Aug 2021</li>
                        <li><a href="#"><i class="icon-comments"></i> 8</a></li>
                    </ul>
                </div>
                <div class="entry-content d-none d-xl-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
            </div>
        </div>
    </div>

    <div class="entry col-12 col-md-6">
        <div class="grid-inner row align-items-center gutter-20">
            <div class="col-4 col-xl-5">
                <div class="entry-image">
                    <a href="#"><img src="images/blog/small/22.jpg" alt="Blog Single"></a>
                </div>
            </div>
            <div class="col-8 col-xl-7">
                <div class="entry-title title-xs nott">
                    <h3><a href="#">This is an Audio Post</a></h3>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li><i class="icon-calendar3"></i> 22nd Aug 2021</li>
                        <li><a href="#"><i class="icon-comments"></i> 21</a></li>
                    </ul>
                </div>
                <div class="entry-content d-none d-xl-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nisi perferendis.</div>
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string Category { get; set; }
}
