@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="row">
    <div class="col-12">
        <h6>
            <RemoteAuthenticatorView Action="@Action" />
        </h6>
    </div>
</div>

@code {
    [Parameter]
    public string Action { get; set; }
}